[
    {
        "name": "BDO-BUSD",
        "balance": 0
    },
    {
        "name": "MDO-BUSD",
        "balance": 0
    },
    {
        "name": "MDO-USDT",
        "balance": 0
    },
    {
        "name": "BDO-BNB",
        "balance": 0
    }
]