[
    {
        "name": "BDO-BUSD",
        "balance": 0
    },
    {
        "name": "SBDO-BUSD",
        "balance": 0
    },
    {
        "name": "MDO-BUSD",
        "balance": 0
    },
    {
        "name": "MDO-USDT",
        "balance": 0
    },
    {
        "name": "BDO-BNB",
        "balance": 0
    },
    {
        "name": "MDS-BUSD",
        "balance": 0
    }
]